@font-face {
  font-family: myFirstFont;
  src: url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200&display=swap");
  font-weight: bolder;
  /* adjusted here */
}

body {
  margin: 0;
  font-family: myFirstFont, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --bgr: #161616;
  --link: #01bf71;
  --sec1: #ea4913;
  --sec3: #fcd426;
}
